<html>
<head>
  <title>Nagravision file upload</title>

  <style>
    body  { font-family:Arial; }
    img { border:1px solid #000000; }
  </style>

</head>

<body>
<h2>Uploaded Picture</h2>

<p>Number of Blocks: <%= @numberOfBlocks %></p>

<div style="width:80%;text-align:center;">
<div style="max-width:45%;float:left;">
  <h2>Original Image</h2>
	<img src="/files/<%= @fileName %>" style="max-width:100%;"/>
</div>
<div style="max-width:45%;float:right;">
  <h2>Encoded Image</h2>
  <img src="/files/<%= @new_filename %>" style="max-width:100%;"/>
</div>
<div style="max-width:45%;float:right;">
<h2>Decoded Image</h2>
<img src="/files/<%= @dec_filename %>" style="max-width:100%;"/><h3>Nagravisioned</h3>
</div>
<div style="width: 400px">
<h2 style="padding-top: 50px">Time measurement:</h2>
<ul>
  <li>Encoding: <%= @total_time_encode %>s</li>
  <li>Decoding: <%= @total_time_decode %>s</li>
</ul>
</div>
</div>
</body>
</html>
